.creds {
  background-color: #e9f0f0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
}

.login {
  width: 30%;
  height: 40%;
  margin-top: 100px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid lightgrey;
  box-shadow: 0px 4px 10px lightgrey;
  padding: 20px;
}

.inputtab {
  margin-top: 2%;
}

.switchtext {
  border:none;
  width: 100%;
  margin-top: 5%;
  background-color:transparent;
  cursor: pointer;
  font-size: 20px;
  color:#005a3c;
}

.switchtext:hover {
  text-decoration: underline;
  border:none;
  width: 100%;
  margin-top: 5%;
  background-color:transparent;
  cursor: pointer;
  font-size: 20px;
}